<div
  class="container relative flex min-h-screen text-gray-800 antialiased flex-col overflow-hidden bg-gray-50 py-6 sm:py-5"
>
  <div class="relative py-3 sm:w-96 mx-auto text-center">
    <span class="text-2xl font-light">Faça login na sua conta</span>
    <div class="mt-4 bg-white shadow-md rounded-lg text-left">
      <div class="h-2 bg-black rounded-t-md"></div>
      <div class="px-8 py-6">
        <label class="block font-semibold"> Usuário</label>
        <input
          [formControl]="username"
          [(ngModel)]="creds.username"
          required
          name="username"
          type="text"
          placeholder="Digite seu usuário."
          class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-900 focus:ring-1 rounded-md"
        />
        <label class="block mt-3 font-semibold"> Senha </label>
        <input
          [formControl]="password"
          [(ngModel)]="creds.password"
          required
          name="password"
          type="password"
          placeholder="Digite sua senha."
          class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-900 focus:ring-1 rounded-md"
        />
        <div class="flex justify-between items-baseline">
          <button
            [disabled]="!validForm()"
            (click)="login()"
            type="submit"
            class="mt-4 bg-black text-white py-2 px-6 rounded-md"
          >
            Login
          </button>
          <div class="links">
            <a href="#" class="text-sm hover:underline">Esqueceu a senha?</a>
            <a href="#" class="text-sm hover:underline">Registre-se!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
