@import "material-icons/iconfont/material-icons.css";
@import "ngx-toastr/toastr";
@import url(./assets/config-scss/variables.scss);
@import url(./assets/config-scss/reset.scss);

html {
  font-family: "Prompt", sans-serif;
}

main {
  margin: 0 auto;
  box-sizing: border-box;
}
