@import "material-icons/iconfont/material-icons.css";
@import url(./assets/config-scss/variables.scss);
@import url(./assets/config-scss/reset.scss);

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Prompt", sans-serif;
}

main {
  margin: 0 auto;
  box-sizing: border-box;
}
